<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>生成表单描述信息的辅助工具</title>
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript" src="formHelpConfig.js?v=2"></script>
    <script type="text/javascript" src="formCompontent.js"></script>
    <link type="text/css" rel="stylesheet" media="screen" href="css/mangoGlobal.css">
    <link type="text/css" rel="stylesheet" media="screen" href="css/mis-style-p.css">
    <link type="text/css" rel="stylesheet" media="screen" href="css/MisStyle_v2.css">
    <link type="text/css" rel="stylesheet" media="screen" href="css/css2.css">

    <meta charset="utf-8" />

    <script  type="text/javascript">

    </script>

</head>

<body >
<div id="help">
    <div class="tabsbox" style="float: left;width: 160px;height: 500px;border: 1px solid #333; ">
        <div class="tabnav">
            <ul class="tabsmenu">
                <li id="divCtl10" @click="tabChange('text')" :class="{'current':ctlTypeState.textShow}">文本框</li>
                <li id="divCtl20" @click="tabChange('list')" :class="{'current':!ctlTypeState.textShow}">列表框</li>
            </ul>
        </div>
        <div class="tabcontent">
            <div id="divKuang10" class="layout" v-show="ctlTypeState.textShow">
                <div  v-for="key in ctlTypeText"   :id="'divCtl'+key" :key="'ctlT'+key">
                    {{ctlMeta[key].name}}
                </div>
                
            </div>
            <div id="divKuang20" class="layout"  v-show="!ctlTypeState.textShow">
                <div  v-for="key in ctlTypeList"   :id="'divCtl'+key" :key="'ctlT'+key">
                    {{ctlMeta[key].name}}
                </div>
            </div>

        </div>
    </div>

    <div style="float: left;">
        <div id="divText" style="width: 470px;height: 700px; padding: 10px; border: 1px solid #333;display: block;">
            <span id="FrmCommonForm">
                <table rules="all" class="tablem tableClass02">
                    <tbody>
                        <tr v-for="item in ctlMeta[formValue.controlType].showIds " 
                            :id="'tr'+formControl[item].controlId" 
                            :key="'tr'+formControl[item].controlId" style="display: table-row;">
                                <td align="right">{{formControl[item].colName}}：</td>
                                <td align="left">
                                    <my-input v-if="item != 'list'" v-model="formValue[formControl[item].controlId]" :meta="formControl[item]" ></my-input>
                                    <span v-else-if="item == 'list'">
                                        <!--设置备选项-->
                                        备选项数量：<my-input @change="setListItem"  v-model="listItem.number" value="1" :meta="formControl.listNumber"> </my-input>
                                                    
                                        <div v-for="item in listItem.item">
                                            <my-input v-model="item.id"  :meta="formControl.listId"></my-input>
                                            <my-input v-model="item.name"  :meta="formControl.listName"> </my-input>
                                        </div>
                                    </span>
                                    {{item}}
                                </td>
                        </tr>
                    </tbody>
                </table>
            </span>
         
           
       </div>
    </div>

    
    <div style="float: left;text-align:left;width: 330px;height: 500px;padding: 5px;border: 1px solid #333;">
        代码：<br>
        {{formValue.controlType}}<br> 
        <textarea id="txtMeta" v-model="createJsonCode" name="S1" cols="40" rows="30"></textarea>
    </div>
    <div style="float: left;text-align:left;width: 330px;height: 500px;padding: 5px;border: 1px solid #333;">
            预览<br>
            <my-input v-model="viewValue" :meta="createJson"></my-input>
            <br><br><br><br><br><br>
            值：{{viewValue}}
        </div>
        
    <div style="clear:both"></div>
</div>

    <script type="text/javascript">

        var form = new Vue({
            el: '#help',
            data: {
                json:'',
                ctlTypeState:{
                    //tab切换
                    textShow:true,
                },
                
                ctlMeta:{}, //控件需要的json
                ctlTypeText:[100, 101, 102, 103, 104, 105, 106, 107,
                    108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118] ,
                ctlTypeList:[150,151,152,153,154,155]  ,
                
                formControl: {
                },
                viewValue:'',

                //绑定的值
                formValue: {
                },

                //别选项的值
                listItem:{
                    number:1,
                    item:[
                        {id:1,
                        name:''
                        }
                    ]
                }
            },
            created: function () {
                
                this.formControl = formControl;  //控件描述
                this.formValue = formModel;  //设置取值的实体类
                this.ctlMeta = controlMeta;  //控件字典
 

            },
            computed:{
                //创建备选项
                creatList:function(value){
                    var re = "";
                    var arr = [];

                    re = '[{"id":'+value+',"name":"ee'+ this.listItem.number +'"}]';

                    return re;
                },

                //创建json对象，供预览用
                createJson:function(){
                    var re = "";
                    var arr = [];

                    for (var i in this.ctlMeta[this.formValue.controlType].showIds){
                        var key = this.ctlMeta[this.formValue.controlType].showIds[i]
                        var val = this.formValue[key];
                        var tmp ='"' + key + '":';

                        var isNum = !isNaN(val); //判断是不是数字

                        if (val === 'true' || val === 'false')
                            isNum = true; // 视为数字

                        if (val === '' || val === null)
                            isNum = false; //要加双引号
                        
                        if (val.length >0){
                            if (val.substring(0,1) === '[')
                                isNum = true;
                            if (val.substring(0,1) === '{')
                                isNum = true;

                        }

                        if (!isNum) tmp +='"';

                        if (key === 'list'){
                            var item =  this.listItem.item;
                            var arrItem = [];
                            for (var i=0;i<item.length;i++){
                                arrItem.push('{"id":' + item[i].id + ',"name":"' + item[i].name+'"}');
                            }
                            tmp += '['+ arrItem.join(',') +']';
                        }else{
                            tmp += this.formValue[key];
                        }
                        
                        if (!isNum) tmp +='"';

                        arr.push(tmp);

                    }

                    re= arr.join(',');
                    re = '{'+ re  + '}';
                    
                    var j = "";

                    try{
                        j=JSON.parse(re);
                    }
                    catch{
                        alert('描述信息格式不正确，不能转换成json');
                        j=formModel
                    }

                    this.json = j;

                    return j;
                },
                //创建json字符串，供代码用
                createJsonCode:function(){
                    var re = "";
                    var arr = [];

                    for (var i in this.ctlMeta[this.formValue.controlType].showIds){
                        var key = this.ctlMeta[this.formValue.controlType].showIds[i]
                        var val = this.formValue[key];
                        var tmp ='\r\n    ' + key + ':';

                        var isNum = !isNaN(val); //判断是不是数字

                        if (val === 'true' || val === 'false')
                            isNum = true; // 视为数字

                        if (val === '' || val === null)
                            isNum = false; //要加双引号
                        
                        if (val.length >0){
                            if (val.substring(0,1) === '[')
                                isNum = true;
                            if (val.substring(0,1) === '{')
                                isNum = true;

                        }

                        if (!isNum) tmp +='"';
                        if (key === 'list'){
                            var item =  this.listItem.item;
                            var arrItem = [];
                            for (var i=0;i<item.length;i++){
                                arrItem.push('{"id":' + item[i].id + ',"name":"' + item[i].name+'"}');
                            }
                            tmp += '['+ arrItem.join(',') +']';
                        }else{
                            tmp += this.formValue[key];
                        }
                       
                        if (!isNum) tmp +='"';

                        arr.push(tmp);

                    }

                    re= arr.join(',');
                    re = 'c:{'+ re  + '\r\n};';
                    
                    return re;
                }
                 
            },
            methods: {
                //设置备选项
                setListItem:function(returnValue,event, meta){
                    var val = returnValue;
                    //alert(returnValue);
                    
                    this.listItem.item = [];

                    for(var i=0;i<parseInt(val);i++){
                        this.listItem.item.push({
                            id:i+1,
                            name:''
                        })
                    }

                },
                //切换tab标签
                tabChange:function(type){
                    //显示文本框类
                    if (type === "text")
                        this.ctlTypeState.textShow = true;
                    else
                        this.ctlTypeState.textShow = false;
                    
                    //显示下拉列表框类

                },
                fun: function (data) {
                    alert(data);
                }
            }
        });

    </script>

</body>

</html>